button {
   background-color: palevioletred;
   border: none;
   padding: 8px 14px;
   color: white;
   cursor: pointer;
}

button:hover {
   background-color: palegreen;
   color: darkgreen;
   border: 1px solid darkgreen;
}

button:active {
   background-color: purple;
   color: white;
}

a:active {
   background-color: pink;
   color: black;
}

h1:active {
   background-color: greenyellow;
}