.container {
   background-color: blueviolet;
   padding: 10px;
   margin-bottom: 20px;
   display: flex;
   gap: 10px;
}

#container-01 {
   flex-flow: row wrap;
}

#container-02 {
   flex-flow: column wrap;
}

.item {
   padding: 8px;
   background-color: yellow;
}

.item-04 {
   order: -1;
}