code {
   background-color: gray;
}

body {
   font-family: Arial, sans-serif;
}

input[type="checkbox"]:checked + label {
   text-decoration: line-through;
}

table {
   border-collapse: collapse;
   width: 100%;
}

th {
   text-align: left;
}

th, td {
   padding: 1rem;
}

td + td,
th + th {
   text-align: right;
}

/*
article p:nth-child(3) {
   color: red;
}
*/

article .exemplo:nth-of-type(1) {
   color: orangered;
}

/* even: par / odd: ímpar */

li:nth-child(even) {
   color: purple;
   font-weight: bold;
}

li:nth-child(odd) {
   background-color: palegreen;
}

tr:nth-child(even) td {
   background-color: lightblue;
}